{% extends 'base.html' %} 


{% block main %}
<!-- fashion section start -->
{% include './components/Fashion.html' %}
<!-- fashion section end -->

<!--  section start -->
{% include './components/Electronic.html' %}
<!-- electronic section end -->


<!-- jewellery  section start -->
<div class="jewellery_section">
  <div id="jewellery_main_slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    {% for jum,nek,kan in Jewellery %}
      {% if forloop.counter0 == 0 %}
      <div class="carousel-item active">
        <div class="container">
          <h1 class="fashion_taital">Jewellery Accessories</h1>
          <div class="fashion_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Jumkas 24k</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 790</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="All_images/All_images/jhumka-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Necklaces pure gold</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 890</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="All_images/All_images/neklesh-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">Kangans 21k</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ 560</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="All_images/All_images/kangan-img.png" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %} 
      {% endfor %}
      </div>
    {% for jum,nek,kan in Jewellery1 %}
      {% if forloop.first %}
          
      {% else %}
      <div class="carousel-item">
        <div class="container">
          <h1 class="fashion_taital">Jewellery Accessories</h1>
          <div class="fashion_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">{{jum.name}}</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ {{jum.price}}</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="{{ jum.image.url }}" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">{{nek.name}}</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ {{nek.price}}</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="{{ nek.image.url }}" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="box_main">
                  <h4 class="shirt_text">{{kan.name}}</h4>
                  <p class="price_text">
                    Start Price <span style="color: #262626">$ {{kan.price}}</span>
                  </p>
                  <div class="jewellery_img">
                    <img src="{{ kan.image.url }}" />
                  </div>
                  <div class="btn_main">
                    <div class="buy_bt"><a href="#">Buy Now</a></div>
                    <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %} 
    <a
      class="carousel-control-prev"
      href="#jewellery_main_slider"
      role="button"
      data-slide="prev"
    >
      <i class="fa fa-angle-left"></i>
    </a>
    <a
      class="carousel-control-next"
      href="#jewellery_main_slider"
      role="button"
      data-slide="next"
    >
      <i class="fa fa-angle-right"></i>
    </a>
    <div class="loader_main">
      <div class="loader"></div>
    </div>
  </div>
</div>
<!-- jewellery  section end -->
{% endblock main %}
